p {
    margin: 40;
    font-size: 18px;
    width: 180px;
    border: 2px solid black;
    padding: 40px;
    background: url("duck.png") no-repeat;
}

.brd1 {
    background-position: left;
}

.brd2 {
    background-position: center;
}

.brd3 {
    background-position: right bottom;
}
