* {
    box-sizing: border-box;
}

body {
    font-family: "Times new roman";
    color: red;
    margin-left: 46px;
}

.box {
    margin-top: 14px;
    padding: 20px 15px;
    border: 4px solid #000;
    width: 240px;
    height: 70px;
    font-size: 30px;
    background: #FFFF00;
}
