body {
    font-family: sans-serif;
    margin: 0px;
    box-sizing: border-box;
    background-color: #F6F6F6;
    background: -webkit-linear-gradient(top, white 0%, #F6F6F6 100px);
}

.maincontainer{
    display:flex;
    flex-direction: row;
}

.container {
    display: flex;
    flex-direction: column;
}

.top-header {
    height: 80px;
    width: 100%;
    box-sizing: border-box;
    display:flex;
    flex-direction: column;
    text-align: center;
}

.down-header a {
    margin-top: 10px;
}
.upper-header{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    display:flex;
    justify-content: flex-end;
}

.upper-right-header {
    height: 100%;
    width: 100%;
    font-family: sans-serif;
    color: #0645ad;
    font-size: 12px;
    box-sizing: border-box;
    display:flex;
    justify-content: flex-end;
    padding: 10px 20px 0 0;
    position: relative;
}

.upper-right-header i {
    position: absolute;
    top: 14px;
    right: 355px;
    color: #aaa;
    font-size: 120%;
}

ul.account li.selected-element {
    color: grey;
}

.down-header{
    height: 40px;
    width: 100%;
    font-family: sans-serif;
    color: #0645ad;
    font-size: 12px;
    box-sizing: border-box;
    display:flex;
    justify-content: space-between;
    margin: 0 0 -5px 0;
}

/* NAVIGATION */

ul.top-nav, ul.account {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul.account li {
    padding: 5px;
    margin: 0px;
    display: table-cell;
}

ul.top-nav li {
    padding: 5px;
    border-left: 1px solid #A7D7F9;
    background: -webkit-linear-gradient(top, white 0%, #A7D7F9 100px);
    margin: 0px;
    display: table-cell;
}

ul.top-nav li.selected-element {
    background: #fff;
    border-bottom: 3px solid #fff;
    position: relative;
    z-index: 100;
}

ul.top-nav li:last-child {
    border-right: 1px solid #A7D7F9;
}

.left-header{
    height: 20px;
    width: 100%;
    box-sizing: border-box;
    display:flex;
    justify-content: flex-start;
}

.right-header{
    height: 20px;
    width: 600px;
    box-sizing: border-box;
    display:flex;
    justify-content: flex-start;
    /*border: 1px black solid;*/
}

.search-box {
    margin: 0 0 0 10px;
    position: relative;
    max-width: 100%;
}

.search-box i {
    position: absolute;
    top: 4px;
    right: 5px;
    color: #aaa;
}

.search-box input {
    max-width: 100%;
    flex-grow: 1;
}

.main {
    width: 100%;
    background-color: #FFF;
    line-height: 160%;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #A7D7F9;
    box-sizing: border-box;
}

.main h1 {
    font-family: Georgia;
    border-bottom: 1px solid grey;
    padding-bottom: 10px;
    margin-bottom: 5px;
}

.main h2 {
    font-family: Georgia;
    border-bottom: 1px solid grey;
    padding-bottom: 10px;
    margin-bottom: 5px;
    font-size: 20px;
}

.sidebar {
    min-width: 176px;
    height: auto;
    position: relative;
    padding-left: 20px;
    font-family: sans-serif;
}

.sidebar li:last-child{
    border-bottom: 1px solid gray;
    padding-bottom: 15px;
    padding-right: 0px;
}

.lastmenu li:last-child{
    border: 0px;
}

.sidebar ul {
    padding-left: 10px;
    margin-right: 20px;
}

ul.firstmenu {
    padding-left: 0px;
}

.logo{
    width: 130px;
    margin:10px;
    display: block;
    margin-bottom: 30px;
}

.sidebar ul {
    list-style-type: none;
}

.sidebar h1 {
    color: grey;
    font-size: 15px;
}

.sidebar li {
    color: #0645ad;
    font-size: 12px;
    margin-bottom: 3px;
}

.infos {
    width: 100%;
    height: 150px;
    font-size: 12px;
    padding-left: 20px;
    margin: 15px 0;
    box-sizing: border-box;
}

.Legacy ul li, .Publications ul li {
    color: #0645ad;
    list-style-type: disc;
}

.Legacy ul li span, .Publications ul li span {
    color: black;
}

section.bottom-links ul {
    display: -webkit-inline-box;
    color: #0645ad;
    list-style-type: none;
    text-align: left;
    padding: 0;
}

section.copyrights {
    margin: 15px 0 0 0;
}

section.bottom-links ul li {
    margin: 0 15px 0 0;
}

footer.infos div.bottom-images {
    float: right;
    margin: -10px 20px 0 0;

}

ol {
  counter-reset: section;
  list-style-type: none;
}

.content li::before {
  counter-increment: section;
  content: counters(section,".") " ";
}

.top-title {
    font-size: 15px;
    margin-bottom: 12px;
}

.note-padding {
    padding-left: 1.6em;
    margin-bottom: 12px;
    font-style: italic;
}

.data {
    width: 285px;
    height: 540px;
    background: #F9F9F9;
    border: 1px solid grey;
    padding-top: 0px;
    margin: 0 0 15px 15px;
    float: right;
    clear: right;
    line-height: normal;
}

.data table td {
    vertical-align: text-top;
    padding-top: 0px;
}

.tabletop {
    text-align: center;
    vertical-align: middle;
}

.profilepicture {
    width: 222px;
    height: 280px;
}

.content {
    width: 121px;
    height: 265px;
    background: #F9F9F9;
    border: 1px solid grey;
    text-align: left;
    margin: 15px 0 15px 0;
}

.content h1 {
    font-size: 13px;
    text-align: center;
    border-bottom: 0;
}

.content ol {
    font-size: 13px;
    text-align: left;
    padding-left: 10px;
    line-height: 160%;
}

.h2-early-life {
    overflow: hidden;
}

blockquote, cite {
    padding-left: 30px;
    display: block;
}

cite {
    -webkit-margin-start: 40px;
}

.books, .spaceship, .official {
    background: #F9F9F9;
    border: 1px solid grey;
    padding-top: 0px;
    margin: 0 0 15px 15px;
    float: right;
    clear: right;
    line-height: normal;
    font-size: 84%;
}

.books  {
    width: 230px;
    height: 358px;
}

.spaceship  {
    width: 230px;
    height: 221px;
}

.official {
    width: 190px;
    height: 287px;
}

.nasapicture1, .nasapicture2, .off-photo {
    text-align: center;
    vertical-align: middle;
}
