main {
    display: flex;
    width: 540px;
    justify-content: space-between;
}

.aqua {
    height: 100px;
    width: 540px;
    background-color: #00e6ff;
}

.orange {
    height: 500px;
    width: 100px;
    background-color: #fda500;
}

.purple {
    height: 500px;
    width: 100px;
    background-color: #994d97;
}

.blue {
    height: 100px;
    width: 540px;
    background-color: #0000fe;
}

.red {
    height: 500px;
    width: 300px;
    background-color: #fe0000;
    position: relative;
}

.black {
    height: 50px;
    width: 50px;
    background-color: #000000;
}

.red .black {
    position: absolute;
    bottom:20px;
    right:20px;
}
