html, body{
    height: 100%;
}

body{
    margin: 0;
    padding: 50px 0;
    font-family: "Lato", sans-serif;
    background-color: #50e3c2;
    display: flex;
    justify-content: center;
}

.main-container{
    width: 100%;
    max-width: 500px;
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    box-shadow: 0 0 1em rgba(120,150,160,0.5);
    display: table;
}

.title{
    /*margin: 5% auto 2% auto;*/
    width: 100%;
    max-width: 500px;
    min-height: 170px;
    display: flex;
    justify-content: center;
}

.title h1{
    font-weight: 300;
    font-size: 64px;
    color: #9b9b9b
}

.input-field{
    /*margin: 0 auto;*/
    width: 100%;
    max-width: 500px;
    min-height: 50px;
    display: flex;
    justify-content: center;
    /*overflow: hidden;*/
    /*animation-duration: 0s;*/
    /*background-color: yellow;*/
}

.text-and-button{
    border-radius: 2px;
    display: flex;
    justify-content: center;
    border: 1px solid #cecece;
    overflow: hidden;
}

.input-field input{
    width: 350px;
    border: 0;
}

.input-field .add-button{
    width: 75px;
    font-weight: 350;
    font-size: 26px;
    color: #ffffff;
    background-color: #df69e8;
    border-left: 1px solid #cecece;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

input[type="text"]{
    font-size:30px;
    padding-left: 20px;
}

.todos{
    padding-left: 0px;
    height: 100%;
    max-width: 500px;
    display: flex;
    justify-content: center;
}

.todos ul, li{
    list-style-type: none;
}

.todos ul, li, span{
    list-style-type: none;
    font-size: 26px;
    font-weight: 350;
    line-height: 2.2;
    color: #9b9b9b;
    height: 100%;
    max-width: 500px;
    padding-left: 0px;
    clear: both;
}

.ready{
    color: #cecece;
}

.unchechked{
    color: #9b9b9b;
}

body > main > article:nth-child(3) > ul{
    margin-right: 30px;
}

.ion-trash-a{
    font-size: 25px;
    float: right;
    margin: 0 10px;
    cursor: pointer;
}

.ion-android-checkbox-outline-blank{
    font-size: 25px;
    float: right;
    margin: 0 10px;
    cursor: pointer;
}

.ion-android-checkbox-outline{
    font-size: 25px;
    float: right;
    margin: 0 10px;
    cursor: pointer;
}
